@using AspAppOnionShop.Models.Categories
@model CategoryViewModel

<div class="card" style="width: 18rem;">
    <img src="https://img.icons8.com/plasticine/2x/person-male.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name </h5>
    </div>
</div>