@using AspAppOnionShop.Models.Products
@model ProductsIndexViewModel

<div class="a-link">
     <a asp-action="Create">Create Product</a>
    <a asp-controller="Categories" asp-action="Index">Page Category</a>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>


@if (Model.Products.Count > 0)
{
     
<h3>Min price = @Model.MinPrice</h3>
<h3>Max price = @Model.MaxPrice</h3>

      <div class="prod-list">
      
            @foreach (var product in Model.Products)
            {
               <div class="prod-list-info">
                   @await Html.PartialAsync("_Product", product)
                   <div class="person-actions">
                       <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                       <a asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                   </div>
               </div>
             }
      </div>
 }
 else
 {
 <h4>People list is empty</h4>
 }